.footer-main{
    width: 100%;
    background-color: black;
    height: 45vh;
    margin-top: 70px;
    padding-top: 20px;

    .footer-header{
        font-family: $Inter;
        font-weight: 600;
        font-size: 20px;
        color: white;
    }
    
}