.users-main{
    padding-top: 70px;

    .add-user{
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 10px;
        

        .add-user-btn{
        width: 200px;
        height: 40px;
        border: 1px;
        border-radius: 20px;
        background: blue;
        cursor: pointer;

        @media #{$xs} {
          width: 150px;
          height: 35px;
        }
        }
    }

    .users-all{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 15px 0 15px;
    }

    .pagination-div{
        display: flex;
        margin: 20px 0 20px 0;
    }

    .add-user-topup{
        position: absolute;
        width: 400px;
        min-height: 350px;
        border: 1px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        top: 70px;
        right: 250px;
        background: white;

        @media #{$xs} {
          width: 90%;
          right: 20px;
        }

        .logging-form{
            padding: 10px;

            .form-cancel{
                display: flex;
                align-items: center;
                justify-content: end;
            }
    
            .form-div{
                margin-bottom: 10px;
    
                .logging-label1{
                    font-size: 18px;
                    color: $blue2;
                   
                }
        
                .error{
                    border: 1px solid red;
                    outline: none;
                    border-radius: 20px;
                    height: 45px;
                    width: 100%;
                    background: $white2;
                    padding-left: 10px;
                    width: 100%;
                }
        
                .error2{
                    border:none;
                    outline: none;
                    border-radius: 20px;
                    height: 45px;
                    width: 100%;
                    background: $white2;
                    padding-left: 10px;
                }
        
                .error1{
                    font-size: 12px;
                    color: red;
                }
    
            }
    
            .logging-button{
                height: 45px;
                width: 100px;
                border: none;
                border-radius: 23px;
                color: $blue2;
                font-weight: 700;
            }
    
            
        }
    }
}